version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/packages/dffmpeg-common"
    schedule:
      interval: "weekly"
    groups:
      python-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/packages/dffmpeg-coordinator"
    schedule:
      interval: "weekly"
    groups:
      python-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/packages/dffmpeg-worker"
    schedule:
      interval: "weekly"
    groups:
      python-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/packages/dffmpeg-client"
    schedule:
      interval: "weekly"
    groups:
      python-dependencies:
        patterns:
          - "*"
